<header>
        <div class="container-fluid text-center" style="border-bottom: solid;">
            <div class="row">
                <div class="col p-0">
                    <!-- Логотип слева -->
                    <a href="/">
                        <img src="" alt="Логотип" width="40" height="40">
                        МойСайт
                    </a>
                </div>

                <!-- Ссылки по центру -->
                <div class="col p-0">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'get_list_of_profiles' %}">Профили</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/services/">Курсы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog/">Чат</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/faq/">FAQ</a>
                        </li>
                    </ul>
                </div>

                    <!-- Кнопка справа -->
                <div class="col p-0">
                    {% if request.user.is_authenticated %}
                    <!-- Если пользователь авторизован -->
                    <a href="" class="btn btn-custom">Профиль</a>
                    {% else %}
                    <!-- Если пользователь не авторизован -->
                    <a href="{% url 'login' %}" class="btn btn-custom">Войти</a>
                    {% endif %}
                </div>
            </div>
        </div>
</header>